<div id="header" class="header">
##    <form action="/product/list" method="get">
        <div class="w">
            <div class="search-con">
                <input class="search-input" id="search-input" placeholder="请输入商品名称" v-model="keyword"/>
                <button class="btn search-btn" id="search-btn" type="button" @click="searchByKeyword">搜索</button>
            </div>
        </div>
##    </form>
</div>
