<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <span class="link-text">商品详情页</span>
        </div>
    </div>
</div>

<div class="page-wrap w">
    <div class="intro-wrap">
        <div class="p-img-con">
            <div class="main-img-con">
                <img class="main-img" src="{{productDetail.mainImage}}" alt="图片名字"/>
            </div>
            <ul class="p-img-list">
                <li class="p-img-item">
                    <img class="p-img" src="{{productDetail.subImages}}" alt="图片名字" />
                </li>
                <li class="p-img-item">
                    <img class="p-img" src="{{productDetail.subImages}}" alt="图片名字" />
                </li>
                <li class="p-img-item">
                    <img class="p-img" src="{{productDetail.subImages}}" alt="图片名字" />
                </li>
            </ul>
        </div>
        <div class="p-info-con">
            <h1 class="p-name">{{productDetail.productName}}</h1>
            <p class="p-subtitle">{{productDetail.subtitle}}</p>
            <div class="p-info-item p-price-con">
                <span class="label">价格:</span>
                <span class="info">￥{{productDetail.price}}元</span>
            </div>
            <div class="p-info-item">
                <span class="label">库存:</span>
                <span class="info">{{productDetail.stock}}</span>
            </div>
            <div class="p-info-item p-count-con">
                <span class="label">数量:</span>
                <input class="p-count" v-model="query.count" readonly="readonly"/>
                <span class="p-count-btn plus"><a class="link" @click="add(query.count,productDetail.stock)">+</a></span>
                <span class="p-count-btn minus"><a class="link" @click="min(query.count)">-</a></span>
            </div>
            <div class="p-info-item">
                <a class="btn cart-add" @click="toAddCart(query.count,productDetail.id,productDetail.stock)"">加入购物车</a>
            </div>
        </div>
    </div>
    <div class="detail-wrap">
        <div class="detail-tab-con">
            <ul class="tab-list">
                <li class="tab-item active">详细描述</li>
            </ul>
        </div>
        <div class="detail-con">
            <img src="{{productDetail.detail}}" alt="详情图片" />
        </div>
    </div>
</div>