<div style="float: left;margin-left:10px;width:920px;height:auto;background-color: #eee;">
    <div style="position:relative">
        <div class="content with-nav">
            <div class="panel">
                <div class="panel-title">我的订单</div>
                <div class="panel-body">
                    hello!
                </div>
            </div>
        </div>
    </div>
</div>