<div style="float: left;margin-left:10px;width:920px;height:800px;background-color: #eee;>
    <div style="position:relative">
        <div style="margin-top: 30px;margin-left: 10px;">
        <form class="form-inline">
            <div class="form-group">
                <label style="margin-left: 30px">订单编号:</label>
                <input type="text" class="form-control" v-model="query.id">
            </div>
            <div class="form-group">
                <label style="margin-left: 30px">订单状态:</label>
                <select class="form-control" v-model="query.status">
                    <option value="-1">全部</option>
                    <option  v-for="status in statusList" :value="status.key">{{status.value}}</option>
                </select>
            </div>
            <div class="form-group">
                <label style="margin-left: 30px">支付类型:</label>
                <select class="form-control" v-model="query.payType">
                    <option value="-1">全部</option>
                    <option  v-for="payType in payTypeList" :value="payType.key">{{payType.value}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" style="margin-left: 30px" @click="searchOrderByConditions">查询</button>
            </div>
        </form>
        <div style="margin-left: 30px;margin-top: 10px;">
            <table class="table table-bordered">
                <tr style="height: auto">
                    <td style="width:10%;text-align: center;">
                        订单ID
                    </td>
                    <td style="width:10%;text-align: center;">
                        下单时间
                    </td>
                    <td style="width:10%;text-align: center;">
                        支付时间
                    </td>
                    <td style="width:10%;text-align: center;">
                        发货时间
                    </td>
                    <td style="width:5%;text-align: center;">
                        订单状态
                    </td>
                    <td style="width:10%;text-align: center;">
                        订单金额
                    </td>
                    <td style="width:5%;text-align: center;">
                        支付类型
                    </td>
                    <td style="width:20%;text-align: center;">
                        操作
                    </td>
                </tr>
                <tr style="height: auto" v-for="order in orderList"  v-bind:key="key">
                    <td style="text-align: center;">{{order.id}}</td>
                    <td style="text-align: center;">{{order.created}}</td>
                    <td style="text-align: center;">{{order.paymentTime}}</td>
                    <td style="text-align: center;">{{order.sendTime}}</td>
                    <td style="text-align: center;">{{order.statusDesc}}</td>
                    <td style="text-align: center;">{{order.payment}}</td>
                    <td style="text-align: center;">{{order.paymentTypeDesc}}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editOrder" @click="editOrderInfo(order.id)">修改</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">修改</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <div class="form-group">
                        订单ID:<input type="text" class="form-control"  v-model="orderEditForm.id" value="{{orderEditForm.id}}" disabled>
                    </div>
                    <div class="form-group">
                        下单时间:<input type="text" class="form-control"  v-model="orderEditForm.created" value="{{orderEditForm.created}}" disabled>
                    </div>
                    <div class="form-group">
                        支付时间:<input type="text" class="form-control" v-model="orderEditForm.paymentTime" value="{{orderEditForm.paymentTime}}" disabled>
                    </div>
                    <div class="form-group">
                        发货时间:<input type="text" class="form-control" v-model="orderEditForm.sendTime" value="{{orderEditForm.sendTime}}">
                    </div>
                    <div class="form-group">
                        订单状态:
                        <select class="form-control" v-model="orderEditForm.status">
                            <option  v-for="status in statusList" :value="status.key">{{status.value}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        订单金额:<input type="text" class="form-control"  v-model="orderEditForm.payment" disabled>
                    </div>
                    <div class="form-group">
                        <label style="margin-left: 30px">支付类型:</label>
                        <select class="form-control" v-model="orderEditForm.paymentType">
                            <option value="-1">全部</option>
                            <option  v-for="paymentType in payTypeList" :value="paymentType.key">{{paymentType.value}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" @click="updateOrder">保存</button>
            </div>
        </div>
    </div>
</div>