<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.shop.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.iss.shop.domain.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_image" jdbcType="VARCHAR" property="productImage" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="current_price" jdbcType="DECIMAL" property="currentPrice" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, user_id, created, modified, product_id, product_name, product_image, 
    quantity, current_price, total_price
  </sql>

  <insert id="batchInsert" parameterType="list">
    insert into shop_order_detail (order_no,user_id, product_id,
    product_name, product_image,
    quantity, current_price,total_price, created,
    modified)
    values
    <foreach collection="orderDetailList" index="index" item="item" separator=",">
      (
      #{item.orderNo},#{item.userId},#{item.productId},#{item.productName},
      #{item.productImage},#{item.quantity},#{item.currentPrice},#{item.totalPrice},now(),now()
      )
    </foreach>
  </insert>

  <select id="getByOrderNoUserId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from shop_order_detail
    where order_no = #{orderNo}
    and user_id = #{userId}
  </select>
  <select id="getByOrderNo" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from shop_order_detail
    where order_no = #{orderNo}
  </select>

</mapper>