<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.shop.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.iss.shop.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="bal" jdbcType="DECIMAL" property="bal" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="postage" jdbcType="DECIMAL" property="postage" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, status, user_id, pay_time, send_time, end_time, bal, pay_type, postage, 
    created, modified, product_id, address_id
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.iss.shop.domain.Order" >
    update shop_order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bal != null" >
        bal = #{bal,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="postage != null" >
        postage = #{postage,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      modified = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.iss.shop.domain.Order" >
    insert into shop_order (order_no, status, user_id, pay_time, send_time, end_time, bal, pay_type, postage,
    created, modified, product_id, address_id)
    values (#{orderNo,jdbcType=VARCHAR},#{status,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
    #{payTime,jdbcType=TIMESTAMP},#{sendTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},#{bal,jdbcType=DECIMAL},
    #{payType,jdbcType=INTEGER},#{postage,jdbcType=DECIMAL},#{created}, #{modified},#{productId,jdbcType=INTEGER},#{addressId,jdbcType=INTEGER})
  </insert>

  <select id="selectByUserIdAndOrderNo" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"></include>
    from shop_order
    where order_no = #{orderNo}
    and user_id = #{userId}
  </select>

  <update id="updateOrderStatus" parameterType="map">
    update shop_order
    set
    `status`=#{status}
    where id=#{id}
  </update>

  <select id="selectByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    from shop_order
    where user_id = #{userId}
  </select>

  <select id="searchOrderByConditions" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    from shop_order
    <where>
      <if test="id != null" >
        and id = #{id}
      </if>
      <if test="status != null" >
        and status = #{status}
      </if>
      <if test="payType != null">
        and pay_type = #{payType}
      </if>
      <if test="created != null" >
        and created = #{created}
      </if>
    </where>
  </select>

  <select id="getAllOrder" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    from shop_order
  </select>

  <select id="getOrderByOrderId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    from shop_order
    where id=#{id}
  </select>

</mapper>